samples/WCFTestConsoleApp/WCFTestConsoleApp/Connected Services/PictreService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1893/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UoW.Pictre.CoreService.DataTransferObjects" />
  <xs:element name="GetUserByEmailID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UoW.Pictre.CoreService.DataTransferObjects" minOccurs="0" name="GetUserByEmailIDResult" nillable="true" type="q1:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserByEmailID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UoW.Pictre.CoreService.DataTransferObjects" minOccurs="0" name="user" nillable="true" type="q2:UserDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserByEmailIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserByEmailIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestGetEmpSalary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestGetEmpSalaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestGetEmpSalaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestGetEmpSalaryPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestGetEmpSalaryPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestGetEmpSalaryPostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>