samples/WCFTestConsoleApp/WCFTestConsoleApp/Connected Services/PictreService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1893/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1893/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1893/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UoW.Pictre.CoreService.DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_GetUserByEmailID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailID" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByEmailID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByEmailIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUserByEmailID_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserByEmailID" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddUserByEmailID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserByEmailIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_TestGetEmpSalary_InputMessage">
    <wsdl:part name="parameters" element="tns:TestGetEmpSalary" />
  </wsdl:message>
  <wsdl:message name="IUserService_TestGetEmpSalary_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestGetEmpSalaryResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_TestGetEmpSalaryPost_InputMessage">
    <wsdl:part name="parameters" element="tns:TestGetEmpSalaryPost" />
  </wsdl:message>
  <wsdl:message name="IUserService_TestGetEmpSalaryPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestGetEmpSalaryPostResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetUserByEmailID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByEmailID" message="tns:IUserService_GetUserByEmailID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByEmailIDResponse" message="tns:IUserService_GetUserByEmailID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserByEmailID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddUserByEmailID" message="tns:IUserService_AddUserByEmailID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddUserByEmailIDResponse" message="tns:IUserService_AddUserByEmailID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestGetEmpSalary">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/TestGetEmpSalary" message="tns:IUserService_TestGetEmpSalary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/TestGetEmpSalaryResponse" message="tns:IUserService_TestGetEmpSalary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestGetEmpSalaryPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/TestGetEmpSalaryPost" message="tns:IUserService_TestGetEmpSalaryPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/TestGetEmpSalaryPostResponse" message="tns:IUserService_TestGetEmpSalaryPost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IUserService" type="tns:IUserService">
    <wsp:PolicyReference URI="#WSHttpBinding_IUserService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByEmailID">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetUserByEmailID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserByEmailID">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddUserByEmailID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestGetEmpSalary">
      <soap12:operation soapAction="http://tempuri.org/IUserService/TestGetEmpSalary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestGetEmpSalaryPost">
      <soap12:operation soapAction="http://tempuri.org/IUserService/TestGetEmpSalaryPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="WSHttpBinding_IUserService" binding="tns:WSHttpBinding_IUserService">
      <soap12:address location="http://localhost:1893/Service.svc/userSoap" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:1893/Service.svc/userSoap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>